dt (bool) #[b bypass_cache]
dd Bypass cache and force a re-scan.

dt (bool) #[b bypass_read_cache]
dd Bypass cache and force a re-scan, and write result back into caching system.

dt (bool) #[b fall_with_upstream]
dd Throw exception if Guanyu fails to read from any URI