extends layout

block content

    block description

    h2 Sample Input

    h3 Parameters

    block sample_input

    h3 cURL

    block sample_curl

    h2 Sample Output

    block sample_output
