doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    .version
      #[a(href="https://github.com/clifflu/guanyu-docker") Guanyu] #[em #{version}] - #[em clifflu] @ #[a(href="https://www.104.com.tw") 104 Corp.]
