extends layout

block content
    h1 Scan URI

    p.
        Guanyu fetches from #[code uri], a uri passed in #[code x-www-form-urlencoded],
        scans it, and respond with json document. Supports http and https uri.

    h2 Sample Input

    dl
        dt Encoding
        dd #[code application/x-www-form-urlencoded] or #[code application/json]

        dt (text) uri
        dd Uri that Guanyu will fetch and scan, must include schemes (https?://)

        dt (bool) bypass_cache
        dd Bypass cache and force a re-scan.

        dt (bool) fall_with_upstream
        dd Throw exception if Guanyu fails to read from any URI

h3 cURL

    code curl -X POST -d "uri=#[em [URI]]" "#[em [Guanyu URI]]"
    p eg. curl -X POST -d "uri=http://home.clifflu.net/" http://localhost:3000/scan/uri"


    h2 Sample Output

    code
        pre.
            {
              "resource": "https://home.clifflu.net/",
              "malicious": false,
              "scanned": "2016-06-07T10:24:55.237Z",
              "hash": "text::8GONRDq0oHLT2KjTQBH20b8J0h8Z1u/PGb/HP/mXjXE=",
              "result": "clean"
            }
