extends layout

block content
    h1 Scan Text

    p.
        Guanyu scans for links (url) in #[code text], #[code x-www-form-urlencoded], fetches and scan with scan/uri,
        and respond with json document in similar format.


    h2 Sample Input

    dl
        dt Encoding
        dd #[code application/x-www-form-urlencoded] or #[code application/json]

        dt (text) text
        dd Text that guanyu will collect links from.

        dt (bool) ignore_read_cache
        dd Disable read cache and force a re-scan.

    h3 cURL

    code curl -X POST -d "text=#[em [TEXT]]" "#[em [Guanyu URI]]"
    p eg. curl -X POST -d "text=aaaaaaaa http://home.clifflu.net/" http://localhost:3000/scan/text"


    h2 Sample Output

    code
        pre.
            {
              "resource": [
                "https://home.clifflu.net/asdf",
                "http://www.kimo.com.tw"
              ],
              "malicious": false,
              "scanned": "2016-06-07T10:29:27.413Z",
              "hash": "text::1QBK4GRnSJijbPgdyaZWUIJ8M6S0pdFscp5qxb+fp2s=",
              "results": {
                "https://home.clifflu.net/asdf": "clean",
                "http://www.kimo.com.tw": "whitelisted (www.kimo.com.tw)"
              }
            }
